<div class="grade hide__element" id="grade">
    <div class="container">
      <p class="grade__title">There is grade window. So, if you'll be nice 
        slave you become a boss of the gym.
      </p>
      <a class="grade__close" id="grade__close">
        <i class="fas fa-times"></i>
      </a>
      <div class="grade__elements" >
        <div class="grade__item unavailable" id="grade_lvl1">
            <p>Resident sleeper</p>
            <img src="./img/sleeper1.webp" class='grade__image' alt="lvl1">
            <p><span>Price: </span><span>100 clicks.</span></p>
            <p>He's generating 2 pts per click.</p>
        </div>
        <div class="grade__item unavailable" id="grade_lvl2">
            <p>Mmmmm...</p>
            <img src="./img/mmm.webp" class='grade__image' alt="lvl2">
            <p><span>Price: </span><span>200 clicks.</span></p>
            <p>He's generating 5 pts per click.</p>
        </div>
        <div class="grade__item unavailable" id="grade_lvl3">
            <p>There is nothing to shame about</p>
            <img src="./img/sorry.webp" class='grade__image' alt="lvl3">
            <p><span>Price: </span><span>500 clicks.</span></p>
            <p>He's generating 10 pts per click.</p>
        </div>
        <div class="grade__item unavailable" id="grade_lvl4">
            <p>Mladshii leatherman</p>
            <img src="./img/mladshii.webp" class='grade_image' alt="lvl4">
            <p><span>Price: </span><span>1000 clicks.</span></p>
            <p>He's generating 20 pts per click.</p>    
        </div>
        <div class="grade__item unavailable" id="grade_lvl5">
            <p>No, fuck you leatherman</p>
            <img src="./img/leatherman.webp" class='grade__image' alt="lvl5">
            <p><span>Price: </span><span>2000 clicks.</span></p>
            <p>He's generating 50 pts per click.</p>     
        </div>
        <div class="grade__item unavailable" id="grade_lvl6">
            <p>Flex like a boss</p>
            <img src="./img/milos.webp" class='grade__image' alt="lvl6">
            <p><span>Price: </span><span>5000 clicks.</span></p>
            <p>He's generating 100 pts per click.</p>      
        </div>
      </div>
      
    </div>
</div>