/* body * {
  outline: 1px solid lightgrey;
} */

body{
  margin: 0;
  height: 100vh;
}

main{
  height: inherit;
  background: rgba(0, 0, 0, 0.8);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  & video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.smile{
  position: absolute;
  animation: 5s linear 1s infinite alternate move;
  @keyframes move {
    from, 
    to {
    left: 0;
    }
    25%, 
    50% {left: calc(100% - 620px);}
  }
  & img{
    animation: 3s linear infinite rotate;
    @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
    }
  }
}

footer{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  & p{
    color: rgba(209, 209, 209, 0.8);
  }
}